@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .content {
    grid-template-areas:
    "self intro"
    "status intro"
    "interact .";
    grid-template-rows: min-content;
    grid-template-columns: min-content 1fr;
    column-gap: .5rem;
    row-gap: .25rem;
  }
}

#selfContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: self;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#info {
  box-sizing: border-box;
  text-align: center;
}

#introContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: intro;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#statusContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: status;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#interactionContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: interact;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}