@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .content {
    grid-template-areas:
    "";
    grid-template-rows: min-content;
    grid-template-columns: min-content;
    column-gap: .5rem;
    row-gap: .25rem;
  }
}