@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .content {
    grid-template-areas:
    "self intro"
    "status intro";
    grid-template-rows: min-content;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    row-gap: .25rem;
  }
  
  #introContainer {
    margin-right: 3px;
  }
  
  #selfContainer {
    margin-left: 3px;
  }
  
  #statusContainer {
    margin-left: 3px;
  }
}

#selfContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: self;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#selfText {
  box-sizing: border-box;
  margin: 0;
  color: #7BBCED;
  font-family:"Almendra", serif;
  font-size: .75rem;
}

#buttons

#info {
  box-sizing: border-box;
  text-align: center;
}

#introContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: intro;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

#statusContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: status;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#extracontent {
  box-sizing: border-box;
  display: grid;
  max-width: 100%;
}

#interactionContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: interact;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}