@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .content {
    grid-template-areas:
    "blog";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    column-gap: .5rem;
    row-gap: .25rem;
  }
}


#blogContainer { 
  box-sizing: border-box;
  max-width: 100%;
  color: #485158;
  grid-area: blog;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blogEntry {
  box-sizing: border-box;
  border: 2px #AFB8BD;
  border-radius: 4px;
}

.blogEntry section {
  padding: 2em;
}

.blogHeader {
  
}

#introContainer { 
  color: #485158;
  grid-area: self;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}