@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .content {
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-areas:
    "desc" 
    "main";
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100vw;
    column-gap: .5rem;
    row-gap: .75rem;
  }
}


h3 {
  
  
}

h4 {
  margin-top: 2rem;
  
}

#descContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: desc;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#mainContainer {
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
  grid-area: main;
  text-align: center;
}

.stuffType {
  box-sizing: border-box;
  color: #485158;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

#templateSection {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}

.templateEntry {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;

}

.templateLink {
  font-size: .6rem;
}

#borderSection {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}


.borderEntry {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}