/* colour refs
#99CCFF (sky blue)
#eff7fa (white blue)
#eff3f8 (white steel blue)
#F4F7FF (cloud box white)
#6F8AB7 (medium blue gray)
#33415C (med blue gray)
#30638E (medium blue)
#82929e (light blue gray)
#74828c (light medium blue gray)

*/

/* img links
bg cloud https://files.strawcdn.com/straw/kzECHHWqcxvnmCOxwdxX.gif
bg http://theinspirationgallery.com/wallpaper/damask/images/wp_damask_187.gif
banner https://files.strawcdn.com/straw/uMGvoTFQyevBPCbdCHxm.jpg
art https://files.strawcdn.com/straw/bQmHxpJQhXEtkPNybydS.jpg
(cloud border) https://files.strawcdn.com/straw/GSopLeHoZTFcNUlbaWAp.png
(metal wave) https://files.strawcdn.com/straw/ORnymnhxeioNNTqrpmLS.png
(bg) https://files.strawcdn.com/straw/IfVGunscnyXdghlDrHbm.gif
*/

/* backgrounds
(blue white sparkle) https://files.strawcdn.com/straw/IUjjQCDtoJJwSGPCDHQY.gif
*/

/* buttons
(powered by testosterone) https://files.strawcdn.com/straw/zFlEUqEUtgAFAKJkpNNZ.gif
(made with affection) https://files.strawcdn.com/straw/UKBzIjMANNvdVlZWLrLl.gif
(proud of my son) https://files.strawcdn.com/straw/FmPyRzsluFUbLtKvkxwA.gif
(jesus kissed men) https://files.strawcdn.com/straw/FVuSBkGUQDXZTRZdPXck.png
(i dream in html) https://files.strawcdn.com/straw/MQLwYceTzbZeutnQTNAI.gif

*/
 
/* style */

html { 
  background-image: url("https://files.strawcdn.com/straw/kzECHHWqcxvnmCOxwdxX.gif");
  background-repeat: repeat, repeat;
  background-color: #94C6DE;
  color: white;
  font-size: 1em;
  font-family: "courier new", Monospace;
}

body { 
  font-size: 1em;
  font-family: "courier new", Monospace;
  margin: 0;
}

h2 {
  font-family: "Margarine";
  
}

.content { 
  box-sizing: border-box;
  display: grid;
  width: 100%;
  background-color: transparent;
}

.cloudContainer { 
  box-sizing: border-box;
  border-image-slice: 29% 30% 29% 30% fill;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 1px 1px 1px 1px;
  border-image-repeat: round round;
  border-image-source: url("https://files.strawcdn.com/straw/ngMlDktjcAsqDAnbNnAw.png");
  border-style: solid;
  padding: 10px;
}

.containButtonStyle { 
  box-sizing: border-box;
  background-color: fuchsia;
  flex-flow: row wrap;
  max-width:100%;
}

.containStampStyle { 
  box-sizing: border-box;
  background-color: blue;
  background-image: url("https://files.strawcdn.com/straw/IfVGunscnyXdghlDrHbm.gif");
  background-repeat: repeat, repeat;
  flex-direction: row;
}

.buttonStyle {
  width: 88px;
  height: 31px;
  background-color: white;
}

.stampStyle { 
  width: 99px;
  height: 57px;
}