/* colour refs
#99CCFF (sky blue)
#eff7fa (white blue)
#eff3f8 (white steel blue)
#F4F7FF (cloud box white)
#6F8AB7 (medium blue gray)
#33415C (med blue gray)
#30638E (medium blue)
#82929e (light blue gray)
#74828c (light medium blue gray)

*/

/* img links
bg cloud https://files.strawcdn.com/straw/kzECHHWqcxvnmCOxwdxX.gif
bg http://theinspirationgallery.com/wallpaper/damask/images/wp_damask_187.gif
banner https://files.strawcdn.com/straw/uMGvoTFQyevBPCbdCHxm.jpg
art https://files.strawcdn.com/straw/bQmHxpJQhXEtkPNybydS.jpg
(cloud border) https://files.strawcdn.com/straw/GSopLeHoZTFcNUlbaWAp.png
(metal wave) https://files.strawcdn.com/straw/ORnymnhxeioNNTqrpmLS.png
(bg) https://files.strawcdn.com/straw/IfVGunscnyXdghlDrHbm.gif
*/

/* backgrounds
(blue white sparkle) https://files.strawcdn.com/straw/IUjjQCDtoJJwSGPCDHQY.gif
*/

/* buttons
(powered by testosterone) https://files.strawcdn.com/straw/zFlEUqEUtgAFAKJkpNNZ.gif
(made with affection) https://files.strawcdn.com/straw/UKBzIjMANNvdVlZWLrLl.gif
(proud of my son) https://files.strawcdn.com/straw/FmPyRzsluFUbLtKvkxwA.gif
(jesus kissed men) https://files.strawcdn.com/straw/FVuSBkGUQDXZTRZdPXck.png
(i dream in html) https://files.strawcdn.com/straw/MQLwYceTzbZeutnQTNAI.gif

*/
 
/* style */

@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .content {
    grid-template-areas:
    "personal";
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;
  }
}


html
{ background-image: url("https://files.strawcdn.com/straw/kzECHHWqcxvnmCOxwdxX.gif");
  background-repeat: repeat, repeat;
  background-color: #99CCFF;
  color: white;
  font-size: 1em;
  font-family: "courier new", Monospace;
}

body 
{ font-size: 1em;
  font-family: "courier new", Monospace;
  margin: 0;
}

.bannerStyle
{ background-size: cover;
  background-color: navy;
  background-clip: content-box;
  box-sizing: border-box;
  display: flex;
  position: static;
  width: 100vw;
  text-align: center;
  justify-content: center;
}

.content
{ box-sizing: border-box;
  display: grid;
  width: 100%;
  background-color: transparent;
}

#personalContent
{ color: #485158;
  margin: auto;
  grid-area: personal;
  }
  
.cloudContainer
{ box-sizing: border-box;
  border: 8px solid transparent;
  margin: auto;
  border-image-repeat: round;
  border-image-slice: 10 9 10 9;
  border-image-width: 1;
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 8px;
  border-bottom-width:8px;
  border-image-outset: 0;
  border-image-source: url("https://files.strawcdn.com/straw/GSopLeHoZTFcNUlbaWAp.png");
}

.bgContainer
{ box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #F4F7FF;
}

.aboutBox
{ box-sizing: border-box;
  margin: auto;
  text-align: center;
  background-color: #F4F7FF;
  max-width: 100%;
}

.aboutInfo 
{ box-sizing: border-box;
  background-color: #F4F7FF;
  text-align: center;
  margin: auto;
}

.containButtonStyle
{ box-sizing: border-box;
  background-color: fuchsia;
  flex-flow: row wrap;
  max-width:100%;
}

.containStampStyle
{ box-sizing: border-box;
  background-color: blue;
  background-image: url("https://files.strawcdn.com/straw/IfVGunscnyXdghlDrHbm.gif");
  background-repeat: repeat, repeat;
  flex-direction: row;
}

.buttonStyle
{
  width: 88px;
  height: 31px;
}

.stampStyle
{ width: 99px;
  height: 57px;
}

.cloudBorder
{ box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 8px solid white;
  margin: auto;
  border-image-repeat: round;
  border-image-slice: 10 9 10 9;
  border-image-width: 1;
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 8px;
  border-bottom-width:8px;
  border-image-outset: 0;
  border-image-source: url("https://files.strawcdn.com/straw/GSopLeHoZTFcNUlbaWAp.png");
}